# Python-Basics

In [1]:
bool()

False

In [2]:
type(True)

bool

In [3]:
my_str = "siddy"

In [4]:
print(my_str.isalnum())
print(my_str.isupper())

True
False

In [2]:
my_str='sid123'
my_str.isalnum()

True

 # Lists

In [3]:
type([])

list

In [6]:
list = ['mathematics',100,10,20,122,230]
print(list)

['mathematics', 100, 10, 20, 122, 230]

In [9]:
#Indexing
list[:]
# 100 to 230
list[1:]

[100, 10, 20, 122, 230]

In [11]:
#100 to 122
list[1:5]    # left is the same index and right is index we want+1

[100, 10, 20, 122]

In [16]:
print(list)

['mathematics', 100, 10, 20, 122, 230, 'sid', ['sid1', 'sid2'], 'sid', ['sid1', 'sid2'], 'sid', ['sid1', 'sid2']]

In [18]:
#Insert

list.insert(1,"saxena")
print(list)

['mathematics', 'saxena', 'saxena', 100, 10, 20, 122, 230, 'sid', ['sid1', 'sid2'], 'sid', ['sid1', 'sid2'], 'sid', ['sid1', 'sid2']]

In [20]:
list2 = [1,2,3,4,5]
print(list2)

[1, 2, 3, 4, 5]

In [21]:
#extend method
list2.extend([6,7])
list2

[1, 2, 3, 4, 5, 6, 7]

# operations on list

In [22]:
sum(list2)

28

In [23]:
list2.pop()

7

In [24]:
# count
list2.count(2)

1

In [26]:
#index
list2.index(2,1,4)

1

In [27]:
#min max
print(min(list2))
print(max(list2))

1
6

In [28]:
#multiplication
list2*2

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]