# Python-Intermediate

In [1]:
# Functions

def even_odd(num):
    if num%2==0:
        print("number is even")
    else:
        print("number is odd")

In [3]:
even_odd(24)

number is even

In [4]:
def hello(name, age=29): # name  is positional argument and age is keyword argument
    print("my name is {} and age is {}".format(name, age))

In [8]:
hello('sid')

my name is sid and age is 29

In [9]:
hello('sid',20)

my name is sid and age is 20

In [10]:
# args and kwargs

def hello(*args, **kwargs):
    print(args)
    print(kwargs)

In [11]:
hello('sid','saxena',age=29,dob=2000)

('sid', 'saxena')
{'age': 29, 'dob': 2000}

In [14]:
lst=['sid','saxena']
dict_args={'age': 20 ,'dob':2000}

In [15]:
hello(*lst,**dict_args)

('sid', 'saxena')
{'age': 20, 'dob': 2000}

In [16]:
lst = [1,2,3,4,5,6,7]

def evenoddsum(lst):
    even_sum=0
    odd_sum=0
    for i in lst:
        if i%2==0:
            even_sum += i
        else:
            odd_sum += i
            
    return even_sum,odd_sum

In [17]:
evenoddsum(lst)

(12, 16)

# Lambda functions

In [18]:
def addition(a,b):
    return a+b               # Single expression can only be converted

In [19]:
addition(4,5)

9

In [20]:
addition = lambda a,b:a+b

In [21]:
addition(5,6)

11

In [22]:
def even(num):
    if num%2==0:
        return True

In [23]:
even(24)

True

In [24]:
even1 = lambda num:num%2==0

In [25]:
even1(12)

True

In [26]:
def add(x,y,z):
    return x+y+z

In [27]:
add(1,2,3)

6

In [28]:
three_add = lambda x,y,z:x+y+z

In [29]:
three_add(1,2,3)

6

# Map Function

In [30]:
def even_odd(num):
    if num%2==0:
        return True
    else:
        return False

In [31]:
even_odd(23)

False

In [33]:
lst=[1,2,3,4,5,6,7,8] # apply same function on multiple values

In [34]:
map(even_odd,lst) # in order to instantiate convert it into a list ## memory is not intialised yet

In [35]:
list(map(even_odd,lst))

[False, True, False, True, False, True, False, True]

In [44]:
list(map(lambda num:num%2==0,lst))

[False, True, False, True, False, True, False]

# Filter function

In [40]:
 def even(num):
        if num%2==0:
            return True

In [41]:
lst=[1,2,3,4,5,6,7]

In [42]:
list(filter(even,lst)) # return elements which satisfy the condition

[2, 4, 6]

In [43]:
list(filter(lambda num:num%2==0,lst))

[2, 4, 6]

# List Comprehension

provide a concise way to create lists, It consists of braces containing an expression followed by for clause, then zero or more for or if clauses

In [45]:
lst1=[]

def lst_square(lst):
    for i in lst:
        lst1.append(i*i)
    
    return lst1

In [46]:
lst_square([1,2,3,4,5,6,7])

[1, 4, 9, 16, 25, 36, 49]

In [47]:
# time complexity optimization

lst=[1,2,3,4,5,6,7]

#list comprehension

[i*i for i in lst ]

[1, 4, 9, 16, 25, 36, 49]

In [48]:
list1=[i*i for i in lst ]
print(list1)

[1, 4, 9, 16, 25, 36, 49]

In [49]:
[i*i for i in lst if i%2==0]

[4, 16, 36]

# String Formatting

In [50]:
print("hello")

hello

In [52]:
str="hello"

print(str)

hello

In [53]:
def greetings(name):
    return "hello {}".format(name)

In [54]:
greetings('sid')

'hello sid'

In [55]:
def welcome_email(firstname,lastname):
    return "welcome {}. is your last name is {}".format(firstname,lastname) # order can not be altered

In [56]:
welcome_email('sid','saxena')

'welcome sid. is your last name is saxena'

In [57]:
def welcome_email(name,age):
    return "welcome {name}. is your age is {age}".format(age=age,name=name) # now ordering can alter

In [58]:
welcome_email('sid',20)

'welcome sid. is your age is 20'

In [59]:
def welcome_email(name,age):
    return "welcome {name1}. is your age is {age1}".format(age1=age,name1=name)

In [60]:
welcome_email('sid',20)

'welcome sid. is your age is 20'

# List Iterables vs Iterators

In [61]:
# List is Iterable

lst = [1,2,3,4,5,6,7] # this whole list is getting initialised in the memory 

for i in lst:
    print(i)

1
2
3
4
5
6
7

In [63]:
list1=iter(lst) #but in case of iterators whole listdose not get stored in memory it will get accessed only via next

In [64]:
list1

In [66]:
next(list1)

1

In [67]:
next(list1)

2

In [68]:
 for i in lst1:
        print(i)

1
4
9
16
25
36
49